.comment{
  padding: 0.1% 2% !important;
}
.ui.comments{
  width: 100% !important;
  margin: 0 !important;
  max-width: 100%;
}
.modals{
  padding: 0 !important;
}

.modals.dimmer .ui.scrolling.modal {
  margin: 0 auto;
}
